<div data-magellan-expedition="fixed">
	<dl class="sub-nav">
		<dd data-magellan-arrival="code"><a href="#code">Coding</a></dd>
		<dd data-magellan-arrival="info"><a href="#info">Summary</a></dd>
		<dd data-magellan-arrival="emp"><a href="#emp">Employment</a></dd>
		<dd data-magellan-arrival="edu"><a href="#edu">Education</a></dd>
	</dl>
</div>

<div class="row">
  <div class="small-12 columns">
		<h1 id="name">Izzy Markwick</h1>
	</div>
</div>


<a href="#" data-reveal-id="contact-model">Contact Info</a>

<div id="contact-modal" class="reveal-modal" data-reveal>
	<div class="row">
		<div class="small-12 columns">
			<h4>Hello</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>here's some contact info</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p></p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="row" id="code">
  <div class="small-12 columns">
		<a name="code"></a>
		<h3 data-magellan-destination="code">Code Examples</h3>
	</div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div id="oodls_img">
	  	<article class="code_txt">
		    <h4><a href="http://www.oodls.io/">Oodls</a></h4>
	    	<p>A charity web app designed to help reduce food waste. It was my final project for Makers Academy and built with a fantastic team of four students. Click <a href="https://github.com/imarkwick/oodls">here</a> to view the code on Github.</p>
			</article>
		</div>
	</div>

	<div class="small-6 columns">
		<div id="sleazy_img">
			<article class="code_txt">
				<h4><a href="http://sleazysounds.herokuapp.com/">Sleazy</a></h4>
				<p>A music web app for listening to tunes and compiling playlists of your top 10 tracks. It was built using Ruby on Rails, and Angular to access the Soundcloud API. Click <a href="https://github.com/imarkwick/sleazy">here</a> to view the code on Github.</p>
			</article>
		</div>
	</div>
</div>

<div class="row" id="summary">
  <div class="small-12 columns">
		<a name="info"></a>
		<h3 data-magellan-destination="info">Summary</h3>
	</div>
</div>

<div class="row" id="summary_txt">
  <div class="small-12 columns">
		<h5>Junior web developer with a background in start-ups, sales, and marketing.</h5>
		<p>Following a degree in International politics, I spent time working closely with a team of developers and gained experience at a number of e-commerce start-ups. I pursued my increasing interest in technology and completed a full-time 3-month course in web development, learning to build full stack Ruby on Rails applications, and gaining skills in HTML5, JavaScript and CSS.</p>
	</div>
</div>

<div class="row" id="emp">
	<div class="small-12 columns">
		<a name="emp"></a>
		<h3 data-magellan-destination="emp">Employment</h3>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<h5><b>Snap Fashion</b>, London</h5>
		<p>Title: Business Development (June 2013 – Oct 2014)</p>
		<p>Title: Intern (July 2012 – Dec 2012)</p>
		<p>Company: Fashion-tech start-up that offers visual search technology, for items of clothes, shoes, and other fashion accessories.</p>
		<p>Role: As the first employee, I worked closely with the Founder of Snap Fashion on licensing the technology, sales, communications between our clients and team of developers, PR, and marketing.</p>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<h5><b>Venrex</b>, London</h5>
		<p>Title: Intern (June 2011 – Aug 2011)</p>
		<p>Company: Early stage venture capital fund management company that specialises in e-commerce investments.</p>
		<p>Role: Involved in a number of Venrex’s portfolio companies during their early stages of business, including Peddlars, Get the Gloss, and Noble Macmillan.</p>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<h5><b>Karmarama</b>, London</h5>
		<p>Title: Intern (May 2012 – July 2012)</p>
		<p>Company: Advertising agency</p>
		<p>Role: Joined the New Business team for a summer and helped on the pitch for an account with B&Q, which they went on to win.</p>
	</div>
</div>

<div class="row" id="edu">
	<div class="small-12 columns">
		<a name="edu"></a>
		<h3 data-magellan-destination="edu">Education</h3>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<p><b>Makers Academy</b> Oct 2014 – Jan 2015</p>
		<p>Full time, Ruby on Rails web development course.</p>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<p><b>King’s College London</b> Sep 2010 – June 2013</p>
		<p>BA: International Politics</p>
	</div>
</div>

<div class="row" id="summary_txt">
	<div class="small-12 columns">
		<p><b>Secondary Education</b></p>
		<p>A levels: English (A), Politics (A), History (B)</p>
		<p>AS levels: English (A), Politics (A), History (A), Maths (B)</p>
		<p>GCSE's: 11 A* - B grades, including English, Maths, Sciences, and two languages</p>
	</div>
</div>





