<div data-magellan-expedition="fixed">
	<dl class="sub-nav">
		<dd data-magellan-arrival="code"><a href="#code">Coding</a></dd>
		<dd data-magellan-arrival="info"><a href="#info">Summary</a></dd>
		<dd data-magellan-arrival="emp"><a href="#emp">Employment</a></dd>
		<dd data-magellan-arrival="edu"><a href="#edu">Education</a></dd>
	</dl>
</div>

<div class="row">
  <div class="small-12 columns">
		<h1 id="name">Izzy Markwick</h1>
	</div>
</div>

<div class="row" id="code_examples">
  <div class="small-12 columns">
		<a name="code"></a>
		<h3 data-magellan-destination="contact">Code Examples</h3>
	</div>
</div>

<div class="row">
  <div class="small-6 columns">
  	<div id="oodls_img">
	  	<article class="code_txt">
		    <h4><a href="http://www.oodls.io/">Oodls</a></h4>
	    	<p>A charity web app designed to help reduce food waste. It was my final project for Makers Academy and built with a fantastic team of four students. Click <a href="https://github.com/imarkwick/oodls">here</a> to view the code on Github.</p>
			</article>
		</div>
	</div>

	<div class="small-6 columns">
		<div id="sleazy_img">
			<article class="code_txt">
				<h4><a href="http://sleazysounds.herokuapp.com/">Sleazy</a></h4>
				<p>A music web app for listening to tunes and compiling playlists of your top 10 tracks. It was built using Rails and Angular to access the Soundcloud API. Click <a href="https://github.com/imarkwick/sleazy">here</a> to view the code on Github.</p></p>
			</article>
		</div>
	</div>
</div>

<div class="row">
  <div class="small-12 columns">
		<a name="info"></a>
		<h3 data-magellan-destination="info">Summary</h3>
	</div>
</div>

<div class="row">
  <div class="small-12 columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a aliquam mi. Maecenas non molestie quam, quis consequat lacus. Nam iaculis ornare neque, at dignissim ligula mollis nec. Nunc pellentesque sapien sed dolor pharetra, ac consequat sapien tristique. In sodales diam ac dui suscipit, eget fringilla tortor dictum. Maecenas elementum faucibus ex sit amet euismod. Duis eget nunc elit. Pellentesque in leo ex. Cras vestibulum maximus diam, sit amet egestas mi scelerisque ac. Vestibulum eu dapibus neque, consequat porttitor ipsum.</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<a name="emp"></a>
		<h3 data-magellan-destination="emp">Employment</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a aliquam mi. Maecenas non molestie quam, quis consequat lacus. Nam iaculis ornare neque, at dignissim ligula mollis nec. Nunc pellentesque sapien sed dolor pharetra, ac consequat sapien tristique. In sodales diam ac dui suscipit, eget fringilla tortor dictum. Maecenas elementum faucibus ex sit amet euismod. Duis eget nunc elit. Pellentesque in leo ex. Cras vestibulum maximus diam, sit amet egestas mi scelerisque ac. Vestibulum eu dapibus neque, consequat porttitor ipsum.</p>
	</div>
</div>